@page "/galleryImage"
@model ImageGallery

@{
    ViewData["Title"] = "Image Gallery";
}
<div class="container mt-5">
    

    <h2 class="text-center">Image Gallery</h2>
    <div class="row">
        @if (await Model.Images.Value is not null)
        {
            
        @foreach (var image in await Model.Images.Value)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="@image" class="img-fluid gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-src="@image">
            </div>
        }
        }

    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="" class="img-fluid">
            </div>
            <div class="modal-footer">
                <a id="downloadLink" href="" class="btn btn-primary" download>Download</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var imageModal = document.getElementById('imageModal');
    imageModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var imageSrc = button.getAttribute('data-bs-src');

        var modalImage = imageModal.querySelector('#modalImage');
        modalImage.src = imageSrc;

        var downloadLink = imageModal.querySelector('#downloadLink');
        downloadLink.href = imageSrc;
    });
</script>