@page "/add-api-key"
@model AddApiKey

@{
ViewData["Title"] = "Add API Key";
}

<h2>Add API Key</h2>

<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" asp-for="Name" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" asp-for="Description">
    </div>
    <div class="mb-3">
        <label for="expireAt" class="form-label">Expires At</label>
        <input type="datetime-local" class="form-control" id="expireAt" asp-for="ExpireAt">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="/Index" style="border-radius: 5px; margin-top: 0px !important;" class="btn btn-delete">Cancel</a>
</form>
